In [5]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [6]:
li = ["abc", 34, 4.34, 23]

In [7]:
print(tu)
print(li)

(23, 'abc', 4.56, (2, 3), 'def')
['abc', 34, 4.34, 23]

In [8]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line
string that uses triple quotes."""

In [9]:
print(st)

This is a multi-line
string that uses triple quotes.

In [10]:
#34쪽까지

In [11]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple.

'abc'

In [12]:
li = ["abc", 34, 4.34, 23]
li[1] # Second item in the list.

34

In [13]:
st = "Hello World"
st[1] # Second character in string.

'e'

In [ ]:
list2 = list1   # 2 names refer to 1 ref
                # Changing one affects both


list2 = list1[:]    # Two independent copies, two refs

In [14]:
t = [1, 2, 4, 5]
3 in t

False

In [ ]:
4 in t

In [15]:
4 not in t

False

In [16]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [17]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [18]:
"Hello" + " " + "world"

'Hello world'